.pattern-component {
  background-color: grey;
  height: 90vh;
  width: 100vw;
}

.pattern-m {
  display: grid;
  gap: 0px;
  grid-row-start: 1;
  grid-row-end: 4;
  background: orange;
}

.pattern-1st-line-up {
  background-color: black;
  width: 1px;
  height: 20px;
  transform: rotate(45deg);
  transform-origin: bottom;
}

.pattern-2nd-line-down {
  background-color: black;
  width: 1px;
  height: 20px;
  transform: rotate(-45deg);
  transform-origin: top;
}

.pattern-3rd-line-up {
  background-color: black;
  width: 1px;
  height: 20px;
  transform: rotate(45deg);
  transform-origin: bottom;
}


.pattern-4th-line-down {
  background-color: black;
  width: 1px;
  height: 20px;
  transform: rotate(-45deg);
  transform-origin: top;
}